/*
1) если эелентр стоит без доп знаков (например header), то идёт обращение просто к тегу
2) если перед элементом есть . - это обращение к классу
3) если перед элементом есть # - это обращение к айди
4) если есть : (например :first-child) - это допольнительные параметры, у тебя в коде, это образение к первому дочернему (:first-child) элементу и последнему (:last-child)
*/


/* применение стиля ко всей странице */
body {
  /* внешние отступы, что не окрашиваются */
  margin: 0;
  /* заливка цветом */
  background: #ededed;
}

/* стиль для шапки сайта */
header {
  background: #b32d36;
  /* цвет текста */
  color: white;
  /* размер блока */
  width: 100%;
}

h1,
h2 {
  /* все буквы заглавные */
  text-transform: uppercase;
  /* размер текста */
  font-size: 24px;
  /* выравнивание текста по странице (лево, право, середина) */
  text-align: center;
}

header p{
  font-size: 18px;
  text-align: center;
}

header .container{
  /* внешний отступ сверху блока/элемента */
  margin-top: 0;
}

.container {
  /* автоматический подсчёт размера блока (из 90% ширины вычетается внутренний отступ) */
  width: calc(90vw - 20px);
  /* внутренний отступ (в том числе заливается цветом) */
  padding: 10px;
  /* внешний отступ верхний-боковые-нижний, такая запись позволяет нам сократить строчки кода*/
  margin: 60px auto 0;
}

.container-main {
  /* работа с элементами внутри блока */
  display: flex;
  /* элементы выстраиваются по горизонтали  */
  flex-direction: row;
  /* элементы почти слипаются в середине */
  justify-content: space-between;
  /* выравнивание по центру */
  align-items: center;
}

.info:first-child {
  width: 39%;
}

.info:last-child {
  width: 59%;
}

.info img{
  width: 150px;
  /* с какого края будет элемент внутри блока */
  float: right;
  /* элементы выстраиваются по вертикали */
  flex-direction: row;
}

.div_info {
  display: flex;
  flex-direction: row;
  margin: 0 0 5px;
}

.container-main .div_info p {
  width: 30%;
  padding: 10px;
  margin: 0;
}

.container-main .div_info p:first-child {
  background-color: #dedede;
  width: 30%;
}

.container-main .div_info p:last-child {
  background-color: #ffffff;
  color: #b32d36;
  width: 30%;
}

.div_info {
  width: 100%;
}

.div_info p {
  padding: 10px;
  margin: 0;
}

.div_info p:first-child {
  background-color: #dedede;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_info p:last-child {
  background-color: #ffffff;
  color: #b32d36;
  width: 95%;
  display: flex;
  flex-direction: column;
}

.div_info p:last-child span:first-child {
  margin-bottom: 10px;
  font-size: 18px;
}

.div_info p:last-child span:last-child {
  color: black;
  font-size: 16px;
}

.container_red {
  background-color: #b32d36;
  color: #ffffff;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
}

.container_red p{
  margin: 0;
}

footer {
  background: #b32d36;
  color: white;
}

footer p{
  text-align: center;
  font-size: 20px;
}

footer a{
  color: white;
  /* убирание декора ссылки (подчёркивание) */
  text-decoration: none;
}

/* поведение ссылки при наведении */
footer a:hover{
  text-decoration: underline;
}

/* прописывание допольнительных параметров, в данном случае работа с размерами экрана меньше 608 пикселей */
@media (max-width: 608px) {
  .container {
    width: calc(100% - 20px);
    padding: 10px;
  }

  .container-main {
    display: flex;
    flex-direction: column;

  }

  .container-main img{
    float: none;
    margin-bottom: 20px;
  }

  .info:first-child {
    width: 100%;
    text-align: center;
  }

  .info:last-child{
    width: 100%;
  }

  .container-main .div_info p:first-child,
  .container-main .div_info p:last-child {
    width: 50%;
  }

  .div_info p:first-child {
    width: 10%;
  }

  .div_info p:last-child {
    width: 90%;
  }
}
